* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body nav{
    z-index: 100;
    padding-left: 70px;
    padding-right: 70px;
}

.navbar{
    width: 100%;
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navitem{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    color: #C00000;   
    width: 100%;
}

.childnav{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 50px;
}

.childnav a{
    text-decoration: none;
    color: #C00000;
}

.childnav a:hover{
    scale: 1.15;
    text-decoration: none;
}

.childnav a:nth-of-type(2){
    font-weight: 700;
    scale: 1.15;
}

.navbar img{
    height: 80px;
    margin-left: 25px;
}

.searchbar{
    border: solid 2px#C00000;
    outline: none;
    background-color: white;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    height: fit-content;
    gap: 20px;
    align-items: center;
    margin-right: 25px;
}

.searchbar div{
    display: flex;
    height: fit-content;
    background-color: #C00000;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.searchbar p{
    color: #fff;
}

.searchbar img{
    height: 20px;
}

.searchbar input{
    width: 200px;
    border: none;
    outline: none;
    margin-left: 10px;
    font-weight: 700;
    font-size: 14px;
    color: #C00000;
}

.searchbar input::placeholder{
    color: #C00000;
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
}

.nav-line{
    border: 1px solid #C00000;
    margin-bottom: 2px;
    margin-left: 70px;
    margin-right: 70px;
    outline: none;
    z-index: 100;
    border-radius: 20px;
}

body section{
    padding-left: 150px;
    padding-right: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #C00000;
    
}

.most-ordered{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.row-most{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.items-1{
    height: 300px;
    width: 500px;
    background: url('/assets/teriyaki.jpg');
    background-position: center;
    background-size: 500px;
    display: flex;
    flex-direction: row;
    align-items: end;
    font-weight: 600;
    color: #fff;
    padding-bottom: 10px;
    padding-left: 10px;
}
.items-2{
    height: 300px;
    width: 500px;
    background: url('/assets/rendnag.jpg');
    background-position: center;
    background-size: 500px;
    display: flex;
    flex-direction: row;
    align-items: end;
    font-weight: 600;
    color: #fff;
    padding-bottom: 10px;
    padding-left: 10px;
}
.items-3{
    height: 300px;
    width: 500px;
    background: url('/assets/vietnambeff.jpg');
    background-position: center;
    background-size: 500px;
    display: flex;
    flex-direction: row;
    align-items: end;
    font-weight: 600;
    color: #fff;
    padding-bottom: 10px;
    padding-left: 10px;
}

.container-1{
    background-color: #DE3C3C;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 200px;
}

.allproduct{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.rendang{
    position: relative;
    margin-top: 10px;
    width: 149px; 
    height: 149px;
    object-fit: cover;
    border-radius: 9999px;
    z-index: 100;
}

.prodcont{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
}

.prod-1{
    display: flex;
    flex-direction: column;
    width: 240px;
}

.header{
    width: 240px;
    height: 35px;
    background-color: #C00000;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child-2{
    width: 100%;
    height: 200px;
    backdrop-filter: blur(23.41px);
    text-align: center;
    background: url('/assets/rendnag.jpg');
    background-position: center;
    object-fit: cover;
    border-radius: 0px 0px 20px 20px;
    position: relative;
}

.child-2 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    border-radius: inherit;
    z-index: 1;
    filter: blur(2px);
}

.food-name{
    font-weight: 600;
    color: white;
    position: relative;
    z-index: 100;
}